body {
  background-color: #000;
  overflow: hidden;
  /* border: 3px solid orange; */
}

.falling-burdens-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.falling-burden {
  position: absolute;
  top: 0;
  animation: fall 444s linear infinite;
  font-size: 36px;
  white-space: nowrap;
  color: red;
}

.falling-burden .yoon {
  font-size: 106px;
}

@keyframes fall {
  0% {
    top: -50px;
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 0;
  }
}

@media (max-width: 720px) {
  .falling-burden {
    font-size: 24px;
  }

  .falling-burden .yoon {
    font-size: 56px;
  }
}

.header {
  position: fixed;
  top: 0;
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  color: white;
}

@media (max-width: 720px) {
  .header {
    padding: 10px 15px;
  }
}

.time-count,
.score {
  font-size: 20px;
  font-family: "Noto Sans KR", serif;
  font-weight: 600;
}

@media (max-width: 720px) {
  .time-count,
  .score {
    font-size: 16px;
  }
}

.dialog {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
}

.game-finish-dialog {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  aspect-ratio: 4 / 5;
  background-color: white;
  color: black;
  border: 1px solid red;
  white-space: pre-wrap;
  padding: 20px;
}

.game-finish-title {
  font-size: 24px;
}

.game-finish-body {
  display: flex;
  flex-direction: column;
  gap: 48px;
  /* height: 80%; */
  overflow-y: auto;
}

.game-finish-body .score {
  font-size: 48px;
  font-family: "1214ChillBlack-Black";
}

.game-finish-body .impeachment {
  font-size: 104px;
  color: red;
  line-height: 1.2;
}

.game-finish-action {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.game-finish-action button {
  width: 100%;
  text-align: start;
  padding: 14px 20px;
  background-color: red;
  color: white;
  border: none;
  font-family: "Noto Sans KR";
  font-weight: 700;
}

@media (max-width: 720px) {
  .game-finish-dialog {
    max-width: 320px;
    height: 450px;
    padding: 18px;
  }

  .game-finish-body {
    gap: 72px;
  }

  .game-finish-body .score {
    font-size: 42px;
  }

  .game-finish-action button {
    font-size: 14px;
    padding: 10px 18px;
  }

  .game-finish-body .impeachment {
    font-size: 86px;
  }
}

@media (max-width: 400px) {
  .game-finish-body .impeachment {
    font-size: 60px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 40px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

input {
  all: unset;
  display: block;
  padding: 10px 0;
  font-family: "Noto Sans KR", serif;
  font-size: 18px;
  color: white;
  background-color: transparent;
  outline: none;
  width: 50%;
  max-width: 350px;
  border-bottom: 4px solid white;
  backdrop-filter: blur(1px);
}

@media (max-width: 720px) {
  input {
    width: 100%;
    font-size: 13px;
    border-bottom: 2px solid white;
  }
}

.constitution-button {
  border: 1px solid red;
  color: red;
  background-color: transparent;
  backdrop-filter: blur(4px);
  padding: 8px;
  width: fit-content;
  line-height: 1;
  padding: 9px 8px 7px;
}

.constitution-button:hover {
  background-color: red;
  color: white;
}

.constitution-dialog {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  aspect-ratio: 4 / 5;
  background-color: white;
  color: black;
  border: 1px solid red;
  white-space: pre-wrap;
  padding: 20px;
}

.constitution-title {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 700;
}

.constitution-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  height: 80%;
  padding-top: 8px;
  padding-bottom: 40px;
  font-family: "Noto Sans KR";
  line-height: 1.6;
}

.constitution-list {
  font-weight: 900;
}

.constitution-action {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.constitution-action button {
  width: 100%;
  text-align: start;
  padding: 14px 20px;
  background-color: red;
  color: white;
  border: none;
  font-family: "Noto Sans KR";
  font-weight: 700;
}

@media (max-width: 720px) {
  .constitution-dialog {
    max-width: 320px;
    height: 450px;
    padding: 18px;
  }
  .constitution-action button {
    font-size: 14px;
    padding: 10px 18px;
  }
}

@media (max-width: 400px) {
  .constitution-body {
    font-size: 14px;
  }
}

.title-with-matched-name {
  font-size: 54px;
  font-weight: 700;
  line-height: 1;
  width: fit-content;
  color: white;
}

.title-with-matched-name .title {
  color: red;
}

@media (max-width: 720px) {
  .footer {
    flex-direction: column-reverse;
    gap: 50px;
    align-items: normal;
    bottom: 0;
    justify-content: baseline;
    padding: 15px;
  }

  .footer-left {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 10px;
  }

  .title-with-matched-name {
    font-size: 34px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  input {
    max-width: 100%;
    font-size: 18px;
    padding: 6px 0;
  }

  .constitution-button {
    width: fit-content;
    height: fit-content;
    align-self: end;
    padding: 5px 7px;
    font-size: 14px;
  }
}
